*{
    margin: 0;
    padding: 0;
  }
  
  /* body{
    background-color: black;
  } */

  .info{
    opacity: 20%;
    font-weight: 100;
  }
  
  .name{
    position: fixed;
    height: 100%;
    width: 100%;
    padding: auto 0;
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-style: italic;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .tracking-in-expand {
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  }
  
  @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }